body {
    padding: 0;
    margin: 0;
    background: rgb(238, 235, 235);
}

.header {
    border-bottom: 1px solid black;
    box-shadow: 5px 2px 3px rgba(2, 23, 122, 0.3);
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header ul li {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.header ul li a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    background: green;
    color: white;
}

.content {
    display: flex;
    height: auto;
}

.content .sidenav  {
    display: flex;
    flex-basis: 200px;
    /* justify-content: center; */
    height: auto;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background: green;
}

.content .sidenav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}


.content .sidenav ul li {
    list-style: none;
    padding: 10px;
    border-bottom: 2px solid black;
}

.content .sidenav ul li a {
    text-decoration: none;
    margin: 10px;
    color:white;
}

.content {
    display: flex;
    margin: 20px;
}

.content .main-content {
    height: auto;
    width: 50%;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;

}

.content .main-content {
    display: flex;
    flex-basis: 60%;
    justify-content: center;
    height: auto;
    margin-left: 230px;
    padding: 10px;
    background: white;
}

.content .main-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.content .main-content p {
    text-align: center;
    margin: 20px;
    
}

.footer {
    display: flex;
    flex-basis: 40%;
    margin: 20px;
    padding: 10px;
    flex: 1;
    justify-content: center;
}

.footer .content {
    /* flex-basis: 400px; */
    padding-left: 5%;
    width: 40%;
    border-right: 2px solid rgb(34, 33, 33);
}

.footer .content p {
    text-align: center;
}


.footer .links {
    justify-content: center;    
    width: 40%;
    display: flex;
  }
  
  .footer .links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}


.footer .links ul li {
    list-style: none;
    padding: 10px;
    border-bottom: 2px solid black;
}

.footer .links ul li a {
    text-decoration: none;
    margin: 10px;
    color:rgb(68, 63, 63);
}

